@font-face {
  font-family: "iconfont"; /* Project id 2412512 */
  src: url('iconfont.woff2?t=1745140007665') format('woff2'),
       url('iconfont.woff?t=1745140007665') format('woff'),
       url('iconfont.ttf?t=1745140007665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sidebarcebianlan:before {
  content: "\e6ea";
}

.icon-liaotianjilu:before {
  content: "\e7dc";
}

.icon-shuju:before {
  content: "\e61b";
}

.icon-main-ddgl:before {
  content: "\e6d4";
}

.icon-main-xtgl:before {
  content: "\e6d5";
}

.icon-bianji:before {
  content: "\e6d7";
}

.icon-fenxianglianjie:before {
  content: "\e6d9";
}

.icon-gonggao:before {
  content: "\e6da";
}

.icon-dingdan:before {
  content: "\e6db";
}

.icon-dizhi:before {
  content: "\e6dc";
}

.icon-gengduo:before {
  content: "\e6dd";
}

.icon-gouwuche:before {
  content: "\e6de";
}

.icon-jifen:before {
  content: "\e6df";
}

.icon-kefu:before {
  content: "\e6e0";
}

.icon-lianjie:before {
  content: "\e6e1";
}

.icon-pengyouquan:before {
  content: "\e6e2";
}

.icon-qianbi:before {
  content: "\e6e3";
}

.icon-shoucang:before {
  content: "\e6e4";
}

.icon-wode:before {
  content: "\e6e5";
}

.icon-shouye:before {
  content: "\e6e6";
}

.icon-tongzhi:before {
  content: "\e6e7";
}

.icon-zhuyi:before {
  content: "\e6e8";
}

.icon-xiangqingmingxi:before {
  content: "\e6e9";
}

