@import "tailwindcss";

:root {
  --page-bgc: #FFF;
}

* {
  @apply box-border;
}
html {
  @apply h-full w-full;
  font-size: 100px;
}
body,
#root {
  @apply h-full w-full;
  background-color: var(--page-bgc);
  font-size: 16px;
  line-height: 1;
  background: #F4F4F7;
}

@theme {
  --spacing: 0.01rem; 
}